body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #1C1D2F;
}
.row-zero{
  margin-left: 0px;
  margin-right: 0px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#logo {
  margin-top: 5px;
  margin-left: 5px;
  width: 233px;
  height: 60px;
  background-size: 233px 60px;
  background-image: url("img/logo.png");
}

.slidedown_ul {
  color: #fff;
}

#menu_border {
  font-family: "Open Sans Condensed", sans-serif;
}

#demo {
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}

.cards {
  cursor: pointer;
  height: 200px;
  color: #fff;
  background-color: #383B5E;
}

.sidebar-brand:hover {
  opacity: 1;
}

.sidebaractive {
  border-left: 3px solid #e86369;
}

.font_padding {
  font-size: 35px;
  margin: 10px;
  padding: 40px;
}

.font_float {
  float: right;
  margin-top: -40px;
}

.baslik {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
}

.cards_lower {
  margin-top: -10px;
  text-align: center;
  opacity: 0.5;
  font-family: "Open Sans Condensed", sans-serif;
}

.cards_lower_yellow {
  color: #E3BB87;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  margin-top: 18px;
}

.cards_lower_red {
  color: #e86369;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  margin-top: 18px;
}

.cards_lower_color {
  text-align: center;
  margin-top: 18px;
  color: #54ADE0;
  font-family: "Open Sans Condensed", sans-serif;
}

.clock {
  background-image: url("img/clock.png");
  height: 16px;
  width: 16px;
  position: absolute;
}

.settings {
  background-image: url("img/settings.png");
  height: 32px;
  width: 32px;
}

.error {
  background-image: url("img/error.png");
  height: 16px;
  width: 16px;
  position: absolute;
}

.alt {
  color: #fff;
  opacity: 0.5;
  font-family: "Open Sans Condensed", sans-serif;
}

.success {
  background-image: url("img/success.png");
  height: 16px;
  width: 16px;
  position: absolute;
}

.shipped {
  background-image: url("img/shipped.png");
  height: 32px;
  width: 32px;
}

.cards_lower_font {
  text-align: center;
  margin-top: -5px;
  color: #60D990;
  font-family: "Open Sans Condensed", sans-serif;
}

.img-image {
  background-image: url("img/layers.png");
  height: 32px;
  width: 32px;
  margin: 30px;
  cursor: pointer;
}

.img_bckgrnd {
  background-image: url("img/left.png");
  height: 32px;
  width: 32px;
  margin: 30px;
  cursor: pointer;
}

.imgPointer {
  background-image: url("img/list.png");
  height: 32px;
  width: 32px;
  margin: 30px;
  cursor: pointer;
}

.hamburger_menu {
  margin-left: 10px;
  z-index: 99;
  cursor: pointer;
  background-image: url("img/menu.png");
  height: 24px;
  width: 24px;
  position: absolute;
  margin-top: 16px;
}

.nav-lower {
  height: 60px;
  margin: 0 auto;
}

.nav-menu {
  height: 60px;
  background: #383B5E;
  box-shadow: 0px 0px 20px 1px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow: hidden;
  background: #30304C;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.fc .fc-toolbar > * > :first-child {
  margin-left: 0;
  color: #fff;
}

.ui-widget-content {
  color: #fff;
  background-color: #383B5E;
}

.menu_sidebar {
  display: none;
}

.cards:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #30304C;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  #sidebar-wrapper {
    position: absolute;
    top: 0;
    left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0px;
  }

  .menu_sidebar {
    cursor: pointer;
    display: block;
    color: #fff;
    background-image: url("img/back.png");
    height: 32px;
    width: 32px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }

  .sidebar-nav {
    margin-top: 50px;
  }
}
.charts {
  margin-top: 10px;
  background-color: #383B5E;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.dropbtn {
  background-color: #383B5E;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
